/* ///////////////////////////////////////////////////////////
22. sidebar
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;


.cursor-pointer {
    cursor: pointer;
}
ul {
    list-style: none;
}

.zq_mobile_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
    overflow: hidden;
    z-index: 9999;
    transition: all 0.5s cubic-bezier(1, 0, 0.55, 1);
    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        @media #{$sm}{
            left: 25px;
        }
        @media #{$xxs}{
            left: 15px;
        }
    }
    .close-menu {
        position: absolute;
        top: 30px;
        right: 40px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        z-index: 4;
        font-size: 25px;
        @media #{$sm}{
            top: 25px;
            right: 25px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
        }
        @media #{$xxs}{
            right: 15px;
            font-size: 18px;
        }
    }
    .logo, .close-menu {
        transform: translateY(-100px);
        opacity: 0;
        transition: all .4s;
    }
    .menu-navbar {
        color: #fff;
        height: 100vh;
        padding-top: 140px;
        overflow: auto;
        padding-bottom: 50px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #111;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
        }
        .main-menu {
            position: relative;
            z-index: 2;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            & > li {
                transition: all .5s;
                &:last-of-type .link {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                }
                .link {
                    font-size: 50px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 1.2;
                    padding: 20px 30px;
                    border-top: 1px solid rgba(255, 255, 255, 0.05);
                    width: 100%;
                    position: relative;
                    display: block;
                    transform: translateY(100px);
                    opacity: 0;
                    transition: all .7s;
                    font-family: $inter;
                    letter-spacing: -0.5px;
                    @media #{$xl}{
                        font-size: 40px;
                    }
                    @media #{$md}{
                        padding-left: 0;
                    }
                    @media #{$sm}{
                        font-size: 30px;
                    }
                    @media #{$xxs}{
                        font-size: 20px;
                    }
                    i {
                        position: absolute;
                        width: 100px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(255, 255, 255, 0.02);
                        cursor: pointer;
                        @media #{$sm}{
                            width: 90px;
                        }
                        @media #{$xxs}{
                            width: 70px;
                        }
                        &::before,
                        &::after {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            content: "\2b";
                            font-family: "Font Awesome 6 Sharp";
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 300;
                            
                        }
                        &::after {
                            content: "\f068";
                        }
                    }
                    &.dopen i:before {
                        opacity: 0;
                    }
                    .fill-text {
                        position: relative;
                        color: rgba(255, 255, 255, 0.4);
                        font-family: $inter;
                        &:after {
                            content: attr(data-text);
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: #fff;
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            transition: width 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
                        }
                    }
                }
                &.hoverd .link .fill-text:after {
                    width: 0;
                }
            }
            .sub-menu {
                display: none;
                padding: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.05);
                li {
                    padding: 0;
                    margin: 0;
                    &:last-child a {
                        border-bottom: 0;
                    }
                    a {
                        padding: 20px 20px 20px 40px;
                        opacity: .6;
                        transition: all .4s;
                        display: block;
                        font-size: 29px;
                        font-weight: 500;
                        padding-left: 50px;
                        text-transform: capitalize;
                        letter-spacing: normal;
                        border-color: rgba(255, 255, 255, 0.02);
                        border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
                        background: rgba(255, 255, 255, 0.009);
                        @media #{$md}{
                            padding-left: 40px;
                        }
                        @media #{$sm}{
                            padding-left: 30px;
                            font-size: 25px;
                        }
                        @media #{$xs}{
                            font-size: 20px;
                            padding-left: 25px;
                            padding-top: 18px;
                            padding-bottom: 21px;
                        }
                        @media #{$xxs}{
                            font-size: 16px;
                            padding-left: 20px;
                            padding-top: 13px;
                            padding-bottom: 13px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .menu-text {
        position: relative;
        z-index: 1;
        height: 100%;
        &:after {
            content: '';
            width: 1px;
            height: 0;
            background: rgba(255, 255, 255, 0.05);
            position: absolute;
            right: -30px;
            bottom: -75vh;
            transition: all 1s ease;
        }
        .text {
            position: absolute;
            right: 25%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            opacity: 0;
            transition: all .4s;
            h2 {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                font-size: 10vw;
                font-weight: 800;
                line-height: 1;
                text-transform: uppercase;
                opacity: .08;
                margin: 0;
                color: #fff;
            }
        }
    }
    .cont-info {
        padding-top: 140px;
        padding-left: 15px;
        position: relative;
        z-index: 3;
        &:after {
            content: '';
            width: 300%;
            height: 200vh;
            position: absolute;
            left: -30px;
            top: -75vh;
            background: #1a1a1a;
            z-index: -1;
        }
        .sub-title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            font-family: $inter;
            color: var(--clr-theme-primary);
        }
        .item {
            transform: translateY(50px);
            transition: all .4s;
            opacity: 0;
            h5 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
                color: #fff;
                &:hover a {
                    color: var(--clr-theme-primary);
                }
            }
            ul.social {
                list-style: none;
                li {
                    a {
                        font-size: 16px;
                        color: #fff;
                        font-weight: 400;
                        &:hover {
                            color: var(--clr-theme-primary);
                        }
                    }
                }
            }
        }
    }
    &.open {
        .logo, .close-menu {
            transform: translateY(0);
            opacity: 1;
            transition-delay: 1s;
        }
        .menu-navbar {
            .main-menu > li .link {
                transform: translateY(0);
                opacity: 1;
                transition-delay: 1s;
            }
        }
        .cont-info .item {
            transform: translateY(0);
            opacity: 1;
            transition-delay: 1.4s;
        }
        .menu-text .text {
            opacity: 1;
            transition-delay: 1s;
        }
        .menu-text:after {
            height: 200vh;
            transition-delay: .7s;
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar .search-form,
    .zq_mobile_menu .menu-text,
    .zq_mobile_menu .cont-info {
      display: none;
    }
    .zq_mobile_menu .menu-navbar {
      height: calc(100vh - 40px);
    }
    
}
